<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AliveSFU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9AE2C121DC17F9900FB5BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9AE2C281DC17F9900FB5BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9AE2C331DC17F9900FB5BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C699DB821DCDD7E50088CAEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C699DB8A1DCDD7E50088CAEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
